.d-block
{
    display: flex;
    width: 100%   
}
.d-block>img
{
    width: 100%;
}

h2
{
    text-align: center;
}

.description_box 
{
    border-style: outset;
    border-width: 5px;
    border-color: #eb6123;
    width: 90%;
    margin-left:5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

hr 
{
    margin: 0;
}
.welcomeBlock
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.description_box>p
{
    margin: 0;
}

.descriptionButton
{
    background-color: #eb6123;
    color: black;
    width: 50%;
    margin-left:25%;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 40px;
    border-radius: 20px;
}

@media screen and (min-width: 768px)
{
    .carousel_slide
    {
    max-width: 50%;
    }
 
    .welcomeBlock
    {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    }
}