.d-block
{
    display: flex;
    width: 100%   
}
<<<<<<< HEAD
.d-block>img
{
=======
.d-block>img{
>>>>>>> features/formReturn
    width: 100%;
}

h2
{
    text-align: center;
}

.description_box 
{
    border-style: outset;
    border-width: 5px;
    border-color: #eb6123;
    width: 90%;
<<<<<<< HEAD
    border-radius: 15px;
    background-color: black;
    padding: 10px;
    margin: 10px;
=======
    margin:auto;
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: black;
    padding: 10px;
>>>>>>> features/formReturn
}

hr 
{
    margin: 0;
}

<<<<<<< HEAD
.welcomeBlock
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.description_box>p
{
    margin: 0;
=======
.description_box>p
{
    margin: 0;
    
>>>>>>> features/formReturn
}

.containerButton
{
<<<<<<< HEAD
=======
    
>>>>>>> features/formReturn
    width: 100%;
}

.descriptionButton
{
<<<<<<< HEAD
=======
    
>>>>>>> features/formReturn
    background-color: #eb6123;
    color: black;
    width: 50%;
    margin-left:25%;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 40px;
    border-radius: 20px;
<<<<<<< HEAD
}

@media screen and (min-width: 768px)
{
    .carousel_slide
    {
    max-width: 50%;
    }
 
    .welcomeBlock
    {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    }
=======

>>>>>>> features/formReturn
}