.bad-guys-list{
    display: flex;
    flex-wrap:wrap;
}
.inspiration-title{
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}
.card{
    background-color: black;
    min-width:90%;
    border-style: outset;
    border-width: 5px;
    border-color: #eb6123;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-title{
    text-align: center;
    font-size: 1.5em;
}

@media screen and (min-width: 1090px){

    .bad-guys-list{
        display: flex;
        flex-wrap:wrap;
    }
    .card{
        max-width: 30%;
        min-width: 30%;
    }
}