
/*format mobile*/
/*Style général*/
*{
    font-family: 'Special Elite';
    color: #eb6123;
    font-size: 16px;
}

/*navbar*/
body{
    background-image: url("../images/foret-nuit.jpg");
}
.tiret{
    border:solid 1px #eb6123;
    width: 28px;
    margin: 3px;
}

.navbar
{
    background-color: black;
    opacity: 0.9;
}

.navbar a
{
    color:#eb6123;
    
}

.navbar-brand 
{
    font-size: 1.6em;
}

.nav-link 
{
    font-size: 1.2em;
}
/*footer*/
.footer ul
{
    background-color: black;
    opacity: 0.9;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
    margin-bottom:0px;
}

.footer li
{
    list-style: none;
}


.footer a
{
    display: flex;
    align-items: center;
    color:#eb6123;
    font-size: 1em;
}

/*format pc bureau*/
@media screen and (min-width: 769px)
{
    
}