
/*format mobile*/
/*Style général*/
*{
    font-family: 'Special Elite';
    color: #eb6123;
<<<<<<< HEAD
=======
    font-size: 16px;
>>>>>>> features/formReturn
}

/*navbar*/
body{
    background-image: url("../images/foret-nuit.jpg");
}
.tiret{
    border:solid 1px #eb6123;
    width: 28px;
    margin: 3px;
}

<<<<<<< HEAD
.custom-toggler.navbar-toggler {
    border-color: rgb(235, 97, 35);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(235, 97, 35, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar{
    background-color: black;
    opacity: 0.9;
}
.navbar-brand{
    color: #eb6123;
    margin-top: 10px;
}
.nav-link
{
    color:#eb6123;
    background-color: black;
    padding-top:16px;
    padding-bottom: 16px;
=======
.navbar
{
    background-color: black;
    opacity: 0.9;
}

.navbar a
{
    color:#eb6123;
    
}

.navbar-brand 
{
    font-size: 1.6em;
}

.nav-link 
{
    font-size: 1.2em;
>>>>>>> features/formReturn
}
/*footer*/
.footer ul
{
    background-color: black;
    opacity: 0.9;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
    margin-bottom:0px;
}

.footer li
{
    list-style: none;
}


.footer a
{
    display: flex;
    align-items: center;
    color:#eb6123;
    font-size: 1em;
}

<<<<<<< HEAD
/*format desktop*/

@media screen and (min-width:1090px){

    .navbar{
        opacity: 0.9;
        height: 100px;
    }

    .nav-link{
        color:#eb6123;
        font-size :20px;
        padding-top:35px;
        padding-bottom: 35px;
    }
    .nav-item{
        padding-right: 15px;
        padding-left: 15px;
    }
    .nav-link:hover{
        color: black;
        background-color: #eb6123;
        opacity:0.9;
    }

    .navbar-brand {
        font-size: 30px;
    }
=======
/*format pc bureau*/
@media screen and (min-width: 769px)
{
    
>>>>>>> features/formReturn
}