.inspiration-title{
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}
.card{
    background-color: black;
    border-style: outset;
    border-width: 5px;
    border-color: #eb6123;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-title{
    text-align: center;
    font-size: 1.5em;
}