/*format mobile*/
/*Style général*/
*{
    font-family: 'Special Elite';
    color: #eb6123;
    font-size: 16px;
}

/*navbar*/
.tiret{
    border:solid 1px #eb6123;
    width: 28px;
    margin: 3px;
}

.navbar
{
    background-color: #303030;
}

.navbar a
{
    color:#eb6123;
    
}

.navbar-brand 
{
    font-size: 1.6em;
}

.nav-link 
{
    font-size: 1.2em;
}
/*footer*/
.footer ul
{
    background-color: #303030;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
}

.footer li
{
    list-style: none;
}


.footer a
{
    display: flex;
    align-items: center;
    color:#eb6123;
    font-size: 1em;
}

/*format pc bureau*/
@media screen and (min-width: 769px)
{
    .navbar li
    {
        padding: 20px;
    }

    .nav-link{
        background-color: black;
        color:blue;
    }
    .nav-link:hover
    {
        background-color: #eb6123;
        color: black;
    }
}