{% extends 'layout.html.twig' %}

{#Chemin feuille de style#}
{% block style %}
<link rel="stylesheet" href="index.css">
{% endblock %}

{% block title %}
<title>Accueil-Chair de pitch</title>
{% endblock %}


{% block content %}
{#CAROUSEL#}
<div>
<div id="carouselExampleInterval" class="carousel_slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <a href="https://goopics.net/i/VY1ev" class="d-block" alt="Annabelle"><img src="https://i.goopics.net/VY1ev.jpg" alt="Image"></a> 
    </div>
    <div class="carousel-item" data-interval="2000">
      <a href="https://goopics.net/i/ama0R"class="d-block" alt="Human centiped"><img src="https://i.goopics.net/ama0R.jpg" alt="Image"></a> 
    </div>
    <div class="carousel-item">
      <a href="https://goopics.net/i/k7PAo" class="d-block w-100" alt="Evil dead"><img src="https://i.goopics.net/k7PAo.jpg" alt="Image"></a> 
    </div>
  </div>
  </a>
</div>


{#ACCUEIL#}

<div class="description_box">
  <h2>Lancez vous !</h2>
  <p>Même si vous n'avez pas de pétrole, vous avez des idées ! Chair de pitch vous permets de pitcher votre idée de film d'horreur. Donner de la visibilité à votre idée peut vous permettre de créer les conditons de sa réalisation.</p>
</div>
<hr>
<div class="description_box">
  <h2>Créez votre pitch</h2>
  <p>Ici vous pourrez libérer votre imagination ! Donnez un titre à votre film, nommez vos protagonistes et créez un pitch rapide de votre idée.</p>
  <div class="containerButton">
    <input class="descriptionButton" type="submit" value="Créez">
  </div>  
</div>
<hr>
<div class="description_box">
  <h2>Consultez les pitchs</h2>
  <p>Chers producteurs, vous recherchez la perle rare? Trouvez ici votre future pépite !</p>
  <div class="containerButton">
    <input class="descriptionButton" type="submit" value="Consultez">
  </div>
</div>
<hr>
{% endblock %}