{% extends 'layout.html.twig' %}
{% block content %}

    <h2 class="inspiration-title">Dans leur domaine, ils assurent</h2>
<section class="bad-guys-list">    
    <div class="card" style="width: 18rem;">
        <img src="images/freddy.jpeg" class="card-img-top" alt="c'est l'heure du bain">
        <div class="card-body">
            <h5 class="card-title">Freddy Krueger</h5>
            <p class="card-text">« Un-deux… Freddy te coupera en deux, Trois-quatre… remonte chez toi quatre à quatre, Cinq-six… n'oublie pas ton crucifix, Sept-huit… surtout ne dors plus la nuit, Neuf-dix… il est caché sous ton lit… »</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="images/michael.jpeg" class="card-img-top" alt="c'est le bordel dans cette penderie">
        <div class="card-body">
            <h5 class="card-title">Michaël Myers</h5>
            <p class="card-text">Après avoir tué sa soeur à l'âge de 6 ans, il arpente les rues de Haddonfield en massacrant joyeusement des baby-sitters depuis plus de 50 ans...</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="images/jason.jpeg" class="card-img-top" alt="l'éfficacité incarnée">
        <div class="card-body">
            <h5 class="card-title">Jason Voorhees</h5>
            <p class="card-text">11 films, et autant de tueries. Tantôt flippant, tantôt fun (Jason X), toujours sanglant...</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="images/chuck.jpg" class="card-img-top" alt="Tellement mignon">
        <div class="card-body">
            <h5 class="card-title">Chucky</h5>
            <p class="card-text">7 carnages plus tard, notre poupée préférée n'a pas pris une ride et conserve son âme d'enf... Euh de psychopathe.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="images/romainfallet.jpg" class="card-img-top" alt="l'éfficacité incarnée">
        <div class="card-body">
            <h5 class="card-title">Romain Fallet</h5>
            <p class="card-text">Il n'a pas l'air comme ça, mais si vous voyiez sa cave...</p>
        </div>
    </div>
</section>
{% endblock %}